.header {
  display: flex;
  justify-content: space-between;
}

.Cards {   
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
}

.titleInstruction {
  display: flex;
  justify-content: center;
  color: rgb(94, 163, 67);
}

.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnText {
  background-color: rgb(94, 163, 67);
  padding: 6px;
  border-radius: 4px;
}

